@charset "utf-8";

/*#toppage 
-----------------------------------*/

.top_page_banner{
    width: 978px;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background: url(../images/toppage/main_banner01.gif) no-repeat;
}

.top_page_banner_counter{
    width: 40px;
    margin-left: 176px;
    margin-top: 62px;
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #f00;
    overflow: hidden;
}

.top_page_banner_choose_lnk{
    width: 195px;
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: bold;
    float: left;
    color: #BF02A4;
    overflow: hidden;
}

.top_page_banner_choose_lnk a{
    color: #BF02A4;
    text-decoration: underline;;
}

.top_page_banner_form{
    width: 500px;
    min-height: 130px;
    margin-top: 80px;
    margin-left: 220px;
    float: left;
    overflow: hidden;
}

.top_page_banner_form td{
    vertical-align: middle;
    padding-bottom: 8px;
}

.top_page_banner_form .td_left{
    text-align: right;
    padding-right: 5px;
}

.top_page_banner_form .td_left span{
    color: #f00;
}

.text_box02{    height: 21px;
    width: 195px;
}

.text_box03{    height: 21px;
    width: 82px;
}

#form1_button{
    width: 195px;
    height: 32px;
    border: 0;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
    color: #fff;
    background: url(../images/toppage/t_form_icon06.png) no-repeat ;
}

#second_cat_area{
    width: 940px;
    min-height: 505px;
    margin-top: 8px;
    margin-left: 34px;
    /*margin-bottom: 50px;*/
    background: url(../images/toppage/second_cat_area.png) no-repeat;
    overflow: hidden;
}

.second_cat_box{
    width: 444px;
    min-height: 234px;
    margin-bottom: 23px;
    margin-right: 25px; 
    float: left;
    overflow: hidden;
    height: 300px;
}

.second_cat_s_box{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    overflow: hidden;
}

.second_cat_s_box{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    overflow: hidden;
}

.second_cat_s_box_beauty{
    height: 130px;
}

.second_cat_s_box_fitness{
    width: 130px;
    height: 180px;
}

.second_cat_s_box h4{
    line-height: 20px;
    text-align :center;
    font-weight: bold;
    font-size: 10px;
    color: #666;
}

.second_cat_s_box p{
    padding: 5px;
    font-size: 8px;
    color: #999;
}

.second_cat_s_box.pink{ background: url(../images/toppage/second_cat_pink_box.png) no-repeat;}
.second_cat_s_box.blue{ background: url(../images/toppage/second_cat_blue_box.png) no-repeat;}
.second_cat_s_box.green{ background: url(../images/toppage/second_cat_green_box.png) no-repeat;}
.second_cat_s_box.brw{ background: url(../images/toppage/second_cat_brw_box.png) no-repeat;}

#navi_box{
    width:700px;
    min-height: 120px;
    overflow: hidden;
    border: 1px solid #999;
}


#navi_box table{
    margin-top: 15px;
    margin-left: 15px;
}


ul.navi_box_headline{
}
.navi_box_headline li{
    float: left;
}

.navi_box_headline a{
    margin-left: 8px;
    font-size: 14px;
    color: #6E0AEF;
}

.navi_box_cat_box {
    margin-left: 0px;
    padding-left: 0px;
}

.navi_box_cat_box th{
    margin-right: 3px;
    padding-right: 3px;
    color: #571BCC;
    font-size: 9px;
}

.navi_box_cat_box li{
    margin-right: 3px;
    padding-right: 3px;
    float: left;
    font-size: 9px;
    border-right: 1px solid #999;
}

#news_area{
    overflow: hidden;
}

#news_area h2{
    height: 30px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 20px;
    line-heigth: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    background: url(../images/toppage/main_t_bar.png) no-repeat;
}

#news_area span {  
    font-weight: bold;
    color: #500591;
}  

#news_area ul {  
 width:700px;  
}
  
#news_area li {  
    border-bottom: 1px dotted #ccc; 
    padding:7px 0 7px 10px;  
    font-weight:bold;  
}

#keisai_area{
    overflow: hidden;
    }

#keisai_area p{
    padding: 5px 12px;
    line-height: 1.8;
    }

#keisai_area h2{
    height: 30px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 20px;
    line-heigth: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    background: url(../images/toppage/main_t_bar.png) no-repeat;
}

#oyaku_area{
    width: 720px;
    margin-bottom: 25px;
    overflow: hidden;
    }

#oyaku_area p{
    margin-top: 9px;
    margin-left: 36px;
    margin-bottom: 20px;
    line-height: 1.8;
    }

#oyaku_area h2{
    height: 30px;
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 15px;
    line-heigth: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    background: url(../images/toppage/main_t_bar.png) no-repeat;
}

#touroku_form_box{
    width: 208px;
    padding-left: 10px;
    padding-bottom: 20px;
    border: 1px solid #E900BD;
    overflow: hidden;
}

.logo_box01{
    margin-top: 22px;
    margin-left: 14px;
}

.kousin{
    height: 25px;
    margin-left: 35px;
    padding-left: 23px;
    padding-top: 10px;
    font-size: 14px;
    background: url(../images/toppage/t_icon03.png) no-repeat left;
}

#touroku_form_box ul{
    margin-left: 5px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #333;
}

#touroku_form_box li{
    margin-top: 10px;
    vertical-align: bottom;
}

#touroku_form_box td{
    padding-top: 5px;
}

.counter01 { 
    margin-left: 40px;
    font-size: 24px;
    font-weight: bold;
    color:#FF6600;
    font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
}

.user_login01{
    width: 197px;
    height: 32px;
}

.user_login02{
    width: 94px;
    height: 32px;
    border: 0;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
    color: #fff;
    background: url(../images/toppage/t_form_icon05.png) no-repeat ;
}

.user_login03{
    width: 94px;
    height: 32px;
    margin-left: 4px;
    border: 0;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
    color: #fff;
    background: url(../images/toppage/t_form_icon05.png) no-repeat ;
}

.text_box01{
    height: 23px;
    width: 193px;
}

.side_banner01{
    margin-top: 10px;
}

.toppage_contents {
        width: 700px;
    min-height: 600px;
    margin-left: 19px;
    margin-bottom: 10px;
}

.contents_images01{
    width: 650px;
    margin-top: 20px;
    margin-left: 13px;
}

.contents_images02{
    width: 640px;
    height: 130px;
    margin-top: 10px;
    margin-left: 21px;
    float: left;
}

.contents_text01{
    width: 640px;
    min-height: 200px;
    margin-top: 15px;
    margin-left: 21px;
    margin-bottom: 32px;
    line-height: 200%;
    color: #191919;
    font-weight: bold;
    float: left;
}

.banner_box{
    overflow: hidden;
}

*+html .banner_box{
    margin-bottom: 10px;
}

.banner_box li{
    width: 220px;
    margin-right: 20px;
    margin-bottom: 5px;
    float: left;
    font-size: 10px;
    font-weight: bold;
}

.banner_box.first li{
    margin-left:0;
}

.banner_box_text{
    height: 30px;
    line-height: 130%;
    position: relative;
}

.text_position01{
    position: absolute;
    bottom: 3px;
}

.text_position02{
    position: absolute;
    bottom: 7px;
}
/*
.photo01 {
    margin-bottom: 25px;
    text-align: center;
}



.to_pagetop {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 20px;
}

.under_line{
    text-decoration: underline;
}

-----------------------------------*/
